<!DOCTYPE html>
<html lang="en">
    <!-- Head can be found in partials -->
    {{>head}}
<body>
    <form action="/formHandler" method="post">

        <!-- Add any input here -->

        <label for="name"> Name: </label>
        <input type="text" name="name">

        <!-- Submit form, button can also be used here -->
        <input type="submit" value="Submit">

    </form>
</body>
</html>