<!DOCTYPE html>
<html lang="en">
    <!-- Head can be found in partials -->
    {{>head}}
<body>
    <!-- Content goes here! -->


    <!-- Information and links to the examples -->

    <p>
        This is a collection of examples. 
        <br>
        <br>
        all example code can be found in the examples folder, and the pdf: Utvikling English Edition 
    </p>
    <a href="/display">Display #each</a> <br>
    <a href="/form">Forms with post</a> <br>
    <a href="/login">Login</a> <br>
    <a href="/shoppingcart">Shoppingcart</a> <br>
    <a href="/accesslevel">access level</a> <br>


</body>
</html>