<!DOCTYPE html>
<html lang="en">
    <!-- Head can be found in partials -->
    {{>head}}
<body>

    {{#each items}}
        <p>Index: {{@index}} </p>
        <p>Name: {{this.name}} </p>
        <p>Description: {{this.desc}} </p>
        <p>------------------------------------</p>
     {{/each}}
</body>
</html>