/*  ----------------------------------------------------------------------------
    responsive settings
*/
/* responsive landscape tablet */
/* responsive portrait tablet */
/* responsive portrait phone */
.tds-s-page-sec:not(:last-child) {
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #EBEBEB;
}
.tds-s-page-sec-cols {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.tds-s-page-sec-col {
  width: 100%;
  padding: 0 20px;
}
.tds-s-page-sec-col:not(:last-child) {
  margin-bottom: 45px;
}
.tds-s-page-sec-header {
  margin-bottom: 35px;
}
.tds-s-page-sec-header .tds-s-notif {
  margin-top: 25px;
}
.tds-spsh-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.tds-spsh-col {
  padding: 0 10px;
}
body h2.tds-spsh-title {
  margin: 0;
  font-family: inherit;
  font-size: 1.429em;
  font-weight: 500;
  line-height: 1.2;
  color: #1d2327;
}
.tds-spsh-descr {
  margin-top: 11px;
  font-size: .929em;
  line-height: 1.4;
  color: #555D66;
}
.tds-s-page-sec-content {
  position: relative;
}
.tds-s-page-sec-content .tds-spsc-title {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: .929em;
  font-weight: 500;
  line-height: 1.2;
  color: #1d2327;
}
.tds-s-page-sec-content .tds-spsc-title:not(:last-child) {
  margin-bottom: 20px;
}
.tds-s-page-sec-content .tds-spsc-title span {
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 4px 7px 6px;
}
.tds-s-page-sec-content .tds-spsc-title-sm:not(:last-child) {
  margin-bottom: 15px;
}
.tds-s-page-sec-content .tds-spsc-title-sm span {
  font-size: .857em;
  padding: 3px 6px 4px;
}
.tds-s-page-sec-content .tds-s-notif-error:not(:first-child) {
  margin-top: 40px;
}
.tds-spsc-sub-section:not(:last-child) {
  margin-bottom: 28px;
  padding-bottom: 28px;
  border-bottom: 1px solid #efefef;
}
.tds-s-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #0489FC;
  min-width: 100px;
  padding: 14px 24px 16px;
  font-size: 1em;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 0;
  border-radius: 5px;
  outline: 3px solid transparent;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, outline-color 0.2s ease-in-out;
  -webkit-appearance: none;
  cursor: pointer;
}
.tds-s-btn svg {
  position: relative;
  width: .9em;
  height: auto;
}
.tds-s-btn svg:not(:last-child) {
  margin-right: .5em;
}
.tds-s-btn:hover,
.tds-s-btn:active {
  background-color: #152BF7;
}
.tds-s-btn:active:not(:disabled) {
  outline-color: rgba(21, 43, 247, 0.2);
}
.tds-s-btn:disabled {
  background-color: #9ACFFD;
  pointer-events: none;
}
.tds-s-btn.tds-s-btn-saving:after {
  content: '';
  position: relative;
  width: 12px;
  height: 12px;
  margin-left: 15px;
  border: 1px solid #fff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: fullspin 1s infinite ease-out;
  animation: fullspin 1s infinite ease-out;
  z-index: 2;
  transition: border-top-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
}
.tds-s-btn.tds-s-btn-saved {
  background-color: #9ACFFD;
  pointer-events: none;
}
.tds-s-btn.tds-s-btn-saved:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8.875" viewBox="0 0 12 8.875"><path d="M7.125,13.875a1,1,0,0,1-.707-.293L3.293,10.457A1,1,0,0,1,4.707,9.043l2.418,2.418,6.168-6.168a1,1,0,0,1,1.414,1.414L7.832,13.582A1,1,0,0,1,7.125,13.875Z" transform="translate(-3 -5)" fill="%23fff"/></svg>');
  width: 14px;
  height: auto;
  border: 0;
  -webkit-animation: none;
  animation: none;
}
.tds-s-btn-light {
  background-color: #E5F3FF;
  color: #152BF7;
}
.tds-s-btn-light:hover,
.tds-s-btn-light:active {
  background-color: #152BF7;
  color: #E5F3FF;
}
.tds-s-btn-light:disabled {
  color: #6371fd;
}
.tds-s-btn-light.tds-s-btn-saving:after {
  border-top-color: #152BF7;
  border-bottom-color: #152BF7;
}
.tds-s-btn-light.tds-s-btn-saving:hover:after {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.tds-s-btn-light.tds-s-btn-saved {
  background-color: #E5F3FF;
  color: #6371fd;
}
.tds-s-btn-light.tds-s-btn-saved:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8.875" viewBox="0 0 12 8.875"><path d="M7.125,13.875a1,1,0,0,1-.707-.293L3.293,10.457A1,1,0,0,1,4.707,9.043l2.418,2.418,6.168-6.168a1,1,0,0,1,1.414,1.414L7.832,13.582A1,1,0,0,1,7.125,13.875Z" transform="translate(-3 -5)" fill="%236371fd"/></svg>');
}
.tds-s-btn-grey {
  background-color: #f3f3f3;
  color: #1D2327;
}
.tds-s-btn-grey:hover,
.tds-s-btn-grey:active {
  background-color: #EBEBEB;
}
.tds-s-btn-grey:disabled {
  background-color: #F8F8F8;
  color: #828588;
}
.tds-s-btn-grey.tds-s-btn-saving:after {
  border-top-color: #1D2327;
  border-bottom-color: #1D2327;
}
.tds-s-btn-grey.tds-s-btn-saved {
  background-color: #F8F8F8;
  color: #828588;
}
.tds-s-btn-grey.tds-s-btn-saved:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8.875" viewBox="0 0 12 8.875"><path d="M7.125,13.875a1,1,0,0,1-.707-.293L3.293,10.457A1,1,0,0,1,4.707,9.043l2.418,2.418,6.168-6.168a1,1,0,0,1,1.414,1.414L7.832,13.582A1,1,0,0,1,7.125,13.875Z" transform="translate(-3 -5)" fill="%23828588"/></svg>');
}
.tds-s-btn-red {
  background-color: #FF3838;
  color: #E20000;
}
.tds-s-btn-red:hover,
.tds-s-btn-red:active {
  background-color: #E20000;
}
.tds-s-btn-red:active:not(:disabled) {
  outline-color: rgba(226, 0, 0, 0.15);
}
.tds-s-btn-red:disabled {
  background-color: #FFA4A4;
}
.tds-s-btn-red.tds-s-btn-saved {
  background-color: #FFA4A4;
}
.tds-s-btn-light-red {
  background-color: #fde7e7;
  color: #E20000;
}
.tds-s-btn-light-red svg {
  fill: #E20000;
}
.tds-s-btn-light-red:hover,
.tds-s-btn-light-red:active {
  background-color: #FF3838;
  color: #fff;
}
.tds-s-btn-light-red:hover svg,
.tds-s-btn-light-red:active svg {
  fill: #fff;
}
.tds-s-btn-light-red:active:not(:disabled) {
  outline-color: rgba(226, 0, 0, 0.1);
}
.tds-s-btn-light-red:disabled {
  background-color: #fde1e1;
}
.tds-s-btn-light-red.tds-s-btn-saved {
  background-color: #ffdfdf;
}
.tds-s-btn-hollow {
  min-width: 96px;
  padding: 12px 22px 14px;
  background-color: transparent;
  color: #444;
  border: 2px solid #A8AAB8;
}
.tds-s-btn-hollow:hover,
.tds-s-btn-hollow:active {
  background-color: transparent;
  color: #0489FC;
  border-color: #0489FC;
}
.tds-s-btn-hollow:active:not(:disabled) {
  outline-color: rgba(4, 137, 252, 0.2);
}
.tds-s-btn-hollow:disabled {
  background-color: transparent;
  color: #B3B3B3;
  border-color: #D3D4DB;
}
.tds-s-btn-hollow.tds-s-btn-saving:after {
  border-top-color: #444;
  border-bottom-color: #444;
}
.tds-s-btn-hollow.tds-s-btn-saving:hover:after {
  border-top-color: #0489FC;
  border-bottom-color: #0489FC;
}
.tds-s-btn-hollow.tds-s-btn-saved {
  background-color: transparent;
  color: #B3B3B3;
}
.tds-s-btn-hollow.tds-s-btn-saved:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8.875" viewBox="0 0 12 8.875"><path d="M7.125,13.875a1,1,0,0,1-.707-.293L3.293,10.457A1,1,0,0,1,4.707,9.043l2.418,2.418,6.168-6.168a1,1,0,0,1,1.414,1.414L7.832,13.582A1,1,0,0,1,7.125,13.875Z" transform="translate(-3 -5)" fill="%23B3B3B3"/></svg>');
}
.tds-s-btn-xsm {
  min-width: 0;
  padding: 5px 10px 7px;
  font-size: .857em;
}
.tds-s-btn-xsm svg {
  top: 1px;
  width: .95em;
}
.tds-s-btn-xsm.tds-s-btn-saving:after {
  width: 8px;
  height: 8px;
  margin-left: 12px;
}
.tds-s-btn-xsm.tds-s-btn-saving:not(.tds-s-btn-saved):after {
  top: 1px;
}
.tds-s-btn-xsm.tds-s-btn-saved:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="9" height="6.5" viewBox="0 0 10 7.5"><path d="M6.5,12.5a1,1,0,0,1-.707-.293l-2.5-2.5A1,1,0,0,1,4.707,8.293L6.5,10.086l4.793-4.793a1,1,0,0,1,1.414,1.414l-5.5,5.5A1,1,0,0,1,6.5,12.5Z" transform="translate(-3 -5)" fill="%23fff" opacity="0.8"/></svg>');
  top: -3px;
}
.tds-s-btn-xsm.tds-s-btn-light.tds-s-btn-saved:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="9" height="6.5" viewBox="0 0 10 7.5"><path d="M6.5,12.5a1,1,0,0,1-.707-.293l-2.5-2.5A1,1,0,0,1,4.707,8.293L6.5,10.086l4.793-4.793a1,1,0,0,1,1.414,1.414l-5.5,5.5A1,1,0,0,1,6.5,12.5Z" transform="translate(-3 -5)" fill="%236371fd" opacity="0.8"/></svg>');
}
.tds-s-btn-xsm.tds-s-btn-grey.tds-s-btn-saved:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="9" height="6.5" viewBox="0 0 10 7.5"><path d="M6.5,12.5a1,1,0,0,1-.707-.293l-2.5-2.5A1,1,0,0,1,4.707,8.293L6.5,10.086l4.793-4.793a1,1,0,0,1,1.414,1.414l-5.5,5.5A1,1,0,0,1,6.5,12.5Z" transform="translate(-3 -5)" fill="%23828588" opacity="0.8"/></svg>');
}
.tds-s-btn-xsm.tds-s-btn-hollow {
  min-width: 0;
  padding: 3px 8px 5px;
}
.tds-s-btn-xsm.tds-s-btn-hollow.tds-s-btn-saved:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="9" height="6.5" viewBox="0 0 10 7.5"><path d="M6.5,12.5a1,1,0,0,1-.707-.293l-2.5-2.5A1,1,0,0,1,4.707,8.293L6.5,10.086l4.793-4.793a1,1,0,0,1,1.414,1.414l-5.5,5.5A1,1,0,0,1,6.5,12.5Z" transform="translate(-3 -5)" fill="%23B3B3B3" opacity="0.8"/></svg>');
}
.tds-s-btn-sm {
  min-width: 76px;
  padding: 10px 19px 12px;
  font-size: .929em;
}
.tds-s-btn-sm svg {
  top: 1px;
}
.tds-s-btn-sm.tds-s-btn-saving:after {
  width: 11px;
  height: 11px;
  margin-left: 13px;
}
.tds-s-btn-sm.tds-s-btn-saving:not(.tds-s-btn-saved):after {
  top: 1px;
}
.tds-s-btn-sm.tds-s-btn-saved:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7.5" viewBox="0 0 10 7.5"><path d="M6.5,12.5a1,1,0,0,1-.707-.293l-2.5-2.5A1,1,0,0,1,4.707,8.293L6.5,10.086l4.793-4.793a1,1,0,0,1,1.414,1.414l-5.5,5.5A1,1,0,0,1,6.5,12.5Z" transform="translate(-3 -5)" fill="%23fff" opacity="0.8"/></svg>');
  top: -2px;
}
.tds-s-btn-sm.tds-s-btn-light.tds-s-btn-saved:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7.5" viewBox="0 0 10 7.5"><path d="M6.5,12.5a1,1,0,0,1-.707-.293l-2.5-2.5A1,1,0,0,1,4.707,8.293L6.5,10.086l4.793-4.793a1,1,0,0,1,1.414,1.414l-5.5,5.5A1,1,0,0,1,6.5,12.5Z" transform="translate(-3 -5)" fill="%236371fd" opacity="0.8"/></svg>');
}
.tds-s-btn-sm.tds-s-btn-grey.tds-s-btn-saved:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7.5" viewBox="0 0 10 7.5"><path d="M6.5,12.5a1,1,0,0,1-.707-.293l-2.5-2.5A1,1,0,0,1,4.707,8.293L6.5,10.086l4.793-4.793a1,1,0,0,1,1.414,1.414l-5.5,5.5A1,1,0,0,1,6.5,12.5Z" transform="translate(-3 -5)" fill="%23828588" opacity="0.8"/></svg>');
}
.tds-s-btn-sm.tds-s-btn-hollow {
  min-width: 72px;
  padding: 8px 17px 10px;
}
.tds-s-btn-sm.tds-s-btn-hollow.tds-s-btn-saved:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7.5" viewBox="0 0 10 7.5"><path d="M6.5,12.5a1,1,0,0,1-.707-.293l-2.5-2.5A1,1,0,0,1,4.707,8.293L6.5,10.086l4.793-4.793a1,1,0,0,1,1.414,1.414l-5.5,5.5A1,1,0,0,1,6.5,12.5Z" transform="translate(-3 -5)" fill="%23B3B3B3" opacity="0.8"/></svg>');
}
body .tds-s-form .tds-s-form-footer {
  margin-top: 40px;
}
body .tds-s-form .tds-s-fc-inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -13px;
}
body .tds-s-form .tds-s-fc-inner:not(:last-child) {
  margin-bottom: 28px;
}
body .tds-s-form .tds-s-fc-inner:not(:last-child):after {
  content: '';
  display: block;
  margin: 28px 13px 0;
  width: 100%;
  height: 1px;
  background-color: #efefef;
}
body .tds-s-form .tds-s-fc-inner .tds-s-notif {
  width: 100%;
  margin-left: 13px;
  margin-right: 13px;
}
body .tds-s-form .tds-spsc-title {
  padding: 0 13px;
}
body .tds-s-form .tds-s-fc-inner-descr {
  width: 100%;
  margin: -10px 0 20px;
  padding: 0 13px;
  font-size: .857em;
  line-height: 1.4;
  color: #67696c;
}
body .tds-s-form .tds-s-form-label {
  position: relative;
  display: block;
  margin-bottom: 8px;
  font-size: .929em;
  line-height: 1;
  font-weight: 600;
  color: #666;
}
body .tds-s-form .tds-s-form-label a {
  font-size: .923em;
}
body .tds-s-form .tds-s-form-label-loading {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 11px;
  height: 11px;
  margin-left: 9px;
  border: 1px solid #666;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: fullspin 1s infinite ease-out;
  animation: fullspin 1s infinite ease-out;
}
body .tds-s-form .tds-s-form-label-tip {
  padding-right: 21px;
}
body .tds-s-form .tds-s-form-tip {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
body .tds-s-form .tds-s-form-tip:before {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13"><g id="icon" transform="translate(-325 -452)"><circle id="Ellipse_7" data-name="Ellipse 7" cx="6.5" cy="6.5" r="6.5" transform="translate(325 452)" opacity="0.61" fill="%23666"/><path id="Path_4" data-name="Path 4" d="M1.775-2.373a2.353,2.353,0,0,1-.094-.381,2.681,2.681,0,0,1-.041-.463,1.44,1.44,0,0,1,.144-.647,2.655,2.655,0,0,1,.357-.542A6,6,0,0,1,2.6-4.893q.249-.234.463-.457a2.485,2.485,0,0,0,.357-.469,1.051,1.051,0,0,0,.144-.539.958.958,0,0,0-.105-.46.953.953,0,0,0-.29-.328,1.309,1.309,0,0,0-.422-.2,1.927,1.927,0,0,0-.507-.064A2.362,2.362,0,0,0,.58-6.627V-7.98a3.892,3.892,0,0,1,1.992-.562,3.187,3.187,0,0,1,.9.123,2.249,2.249,0,0,1,.738.363,1.717,1.717,0,0,1,.5.6,1.813,1.813,0,0,1,.182.832,2,2,0,0,1-.152.8,2.949,2.949,0,0,1-.384.647,3.646,3.646,0,0,1-.5.524q-.267.229-.5.457a2.574,2.574,0,0,0-.384.475,1.015,1.015,0,0,0-.152.545,1.52,1.52,0,0,0,.064.457,3.005,3.005,0,0,0,.129.346ZM2.443.105a.866.866,0,0,1-.592-.229.713.713,0,0,1-.246-.551.7.7,0,0,1,.246-.551.841.841,0,0,1,.592-.234.834.834,0,0,1,.586.234.7.7,0,0,1,.246.551.713.713,0,0,1-.246.551A.859.859,0,0,1,2.443.105Z" transform="translate(329 463)" fill="%23fff"/></g></svg>');
  display: block;
  cursor: pointer;
}
body .tds-s-form .tds-s-form-tip-txt {
  position: absolute;
  bottom: calc(100% + 3px);
  right: 0;
  width: 130px;
  padding: 6px 6px 8px;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: .769em;
  line-height: 1.2;
  text-align: center;
  font-weight: 400;
  color: #fff;
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}
body .tds-s-form .tds-s-form-tip-txt:after {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 4px;
}
body .tds-s-form .tds-s-form-tip:hover .tds-s-form-tip-txt {
  opacity: 1;
  pointer-events: auto;
}
body .tds-s-form .tds-s-form-input {
  margin: 0;
  padding: 0 15px 1px;
  width: 100%;
  height: 44px;
  min-height: 44px;
  font-size: 1em;
  line-height: 1.3;
  font-weight: 600;
  color: #444;
  border: 2px solid #D7D8DE;
  border-radius: 5px;
  outline: 3px solid transparent;
  box-shadow: none;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, outline-color 0.2s ease-in-out;
}
body .tds-s-form .tds-s-form-input:-webkit-autofill,
body .tds-s-form .tds-s-form-input:-webkit-autofill:hover,
body .tds-s-form .tds-s-form-input:-webkit-autofill:focus,
body .tds-s-form .tds-s-form-input:-webkit-autofill:active {
  -webkit-text-fill-color: #444;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
body .tds-s-form .tds-s-form-input::placeholder {
  color: #888;
  transition: color 0.2s ease-in-out;
}
body .tds-s-form .tds-s-form-input::-webkit-input-placeholder {
  color: #888;
  transition: color 0.2s ease-in-out;
}
body .tds-s-form .tds-s-form-input::-moz-placeholder {
  color: #888;
  transition: color 0.2s ease-in-out;
}
body .tds-s-form .tds-s-form-input:-ms-input-placeholder {
  color: #888;
  transition: color 0.2s ease-in-out;
}
body .tds-s-form .tds-s-form-input:-moz-placeholder {
  color: #888;
  transition: color 0.2s ease-in-out;
}
body .tds-s-form .tds-s-form-input:hover {
  color: inherit;
}
body .tds-s-form .tds-s-form-input:focus {
  box-shadow: none;
}
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-input:focus:not([readonly]) {
  border-color: #0489FC !important;
  outline-width: 3px;
  outline-style: solid;
  outline-color: rgba(4, 137, 252, 0.1);
}
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-input[readonly]:not(.tds-s-form-input-date),
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-input:disabled {
  color: #BEBEBE;
  border-color: #E8E9EC;
}
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-input[readonly]:not(.tds-s-form-input-date)::placeholder,
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-input:disabled::placeholder {
  color: #BEBEBE;
}
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-input[readonly]:not(.tds-s-form-input-date)::-webkit-input-placeholder,
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-input:disabled::-webkit-input-placeholder {
  color: #BEBEBE;
}
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-input[readonly]:not(.tds-s-form-input-date)::-moz-placeholder,
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-input:disabled::-moz-placeholder {
  color: #BEBEBE;
}
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-input[readonly]:not(.tds-s-form-input-date):-ms-input-placeholder,
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-input:disabled:-ms-input-placeholder {
  color: #BEBEBE;
}
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-input[readonly]:not(.tds-s-form-input-date):-moz-placeholder,
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-input:disabled:-moz-placeholder {
  color: #BEBEBE;
}
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-input[readonly] {
  background-color: #fff;
}
body .tds-s-form textarea.tds-s-form-input {
  min-height: 114px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  line-height: 1.6;
}
body .tds-s-form .tds-s-form-wpeditor {
  border: 2px solid #D7D8DE;
  border-radius: 5px;
  outline: 3px solid transparent;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, outline-color 0.2s ease-in-out;
}
body .tds-s-form .tds-s-form-wpeditor .mce-panel {
  background-color: transparent;
}
body .tds-s-form .tds-s-form-wpeditor .wp-editor-tools {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  margin: 6px 6px 0;
  padding: 7px 9px 4px;
  border-radius: 4px 4px 0 0;
}
body .tds-s-form .tds-s-form-wpeditor .wp-editor-tabs {
  display: flex;
  align-items: center;
  margin-left: auto;
}
body .tds-s-form .tds-s-form-wpeditor .wp-switch-editor {
  margin: 0;
  padding: 1px 7px 2px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1;
  font-weight: 500;
  border-width: 1px;
  border-color: transparent;
  border-radius: 4px;
}
body .tds-s-form .tds-s-form-wpeditor .switch-tmce {
  margin-right: 3px;
}
body .tds-s-form .tds-s-form-wpeditor .wp-switch-editor:hover,
body .tds-s-form .tds-s-form-wpeditor .html-active .switch-html,
body .tds-s-form .tds-s-form-wpeditor .tmce-active .switch-tmce {
  border-color: #e7e6e6;
}
body .tds-s-form .tds-s-form-wpeditor .html-active .switch-html,
body .tds-s-form .tds-s-form-wpeditor .tmce-active .switch-tmce {
  background-color: #fff;
}
body .tds-s-form .tds-s-form-wpeditor .wp-editor-container {
  border: 0;
}
body .tds-s-form .tds-s-form-wpeditor .wp-editor-container {
  width: calc(100% - 12px) !important;
  margin: 0 6px 6px;
}
body .tds-s-form .tds-s-form-wpeditor .mce-tinymce {
  border: 0 !important;
}
body .tds-s-form .tds-s-form-wpeditor .mce-top-part:before {
  display: none;
}
body .tds-s-form .tds-s-form-wpeditor .quicktags-toolbar {
  padding: 5px 7px;
  border-bottom: 0;
}
body .tds-s-form .tds-s-form-wpeditor .mce-toolbar-grp {
  background-color: #f5f5f5;
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
body .tds-s-form .tds-s-form-wpeditor .mce-toolbar-grp > div {
  padding: 5px 7px;
}
body .tds-s-form .tds-s-form-wpeditor iframe {
  height: 200px !important;
}
body .tds-s-form .tds-s-form-select-wrap {
  position: relative;
}
body .tds-s-form .tds-s-form-select-wrap .tds-s-form-input {
  max-width: 100%;
  padding-right: 34px;
  background: #fff;
  -webkit-appearance: none;
}
body .tds-s-form .tds-s-form-select-wrap .tds-s-form-input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
body .tds-s-form .tds-s-form-select-wrap .tds-s-form-select-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: #444;
  transition: fill 0.2s ease-in-out;
}
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-select-wrap .tds-s-form-input[readonly] + .tds-s-form-select-icon,
body .tds-s-form .tds-s-form-group:not(.tds-s-fg-error) .tds-s-form-select-wrap .tds-s-form-input:disabled + .tds-s-form-select-icon {
  fill: #BEBEBE;
}
body .tds-s-form .tds-s-form-check input {
  display: none;
}
body .tds-s-form .tds-s-form-check label {
  display: flex;
  align-items: flex-start;
}
body .tds-s-form .tds-s-form-check .tds-s-fc-check {
  position: relative;
  margin-right: 10px;
  width: 19px;
  height: 19px;
  background-color: #fff;
  border: 2px solid #D7D8DE;
  outline: 3px solid transparent;
  transition: border-color 0.2s ease-in-out, outline-color 0.2s ease-in-out;
  cursor: pointer;
}
body .tds-s-form .tds-s-form-check .tds-s-fc-check:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  background-color: #0489FC;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
body .tds-s-form .tds-s-form-check .tds-s-fc-title {
  flex: 1;
  font-size: 1em;
  line-height: 1.3;
  font-weight: 600;
  color: #444;
  cursor: pointer;
}
body .tds-s-form .tds-s-form-check input[type=checkbox] + .tds-s-fc-check {
  border-radius: 5px;
}
body .tds-s-form .tds-s-form-check input[type=checkbox] + .tds-s-fc-check:after {
  border-radius: 3px;
}
body .tds-s-form .tds-s-form-check input[type=radio] + .tds-s-fc-check,
body .tds-s-form .tds-s-form-check input[type=radio] + .tds-s-fc-check:after {
  border-radius: 100%;
}
body .tds-s-form .tds-s-form-check input:checked + .tds-s-fc-check {
  border-color: #0489FC;
  outline-color: rgba(4, 137, 252, 0.1);
}
body .tds-s-form .tds-s-form-check input:checked + .tds-s-fc-check:after {
  opacity: 1;
}
body .tds-s-form .tds-s-form-check input[disabled] + .tds-s-fc-check,
body .tds-s-form .tds-s-form-check input[disabled] + .tds-s-fc-check + .tds-s-fc-title {
  pointer-events: none;
}
body .tds-s-form .tds-s-form-check input[disabled] + .tds-s-fc-check {
  border-color: #9ACFFD;
}
body .tds-s-form .tds-s-form-check input[disabled] + .tds-s-fc-check + .tds-s-fc-title {
  color: #BEBEBE;
}
body .tds-s-form .tds-s-form-check input[disabled]:checked + .tds-s-fc-check {
  outline-color: rgba(4, 137, 252, 0.08);
}
body .tds-s-form .tds-s-form-check input[disabled]:checked + .tds-s-fc-check:after {
  background-color: #9ACFFD;
}
body .tds-s-form .tds-s-form-group {
  position: relative;
  width: 100%;
  padding: 0 13px;
}
body .tds-s-form .tds-s-form-group:not(:last-child) {
  margin-bottom: 20px;
}
body .tds-s-form .tds-s-form-group .tds-s-list {
  list-style-type: disc;
  margin-top: 14px;
}
body .tds-s-form .tds-s-form-group .tds-s-list-item {
  display: list-item;
  font-size: .857em;
  line-height: 1.2;
  margin-left: 16px !important;
  color: #444;
}
body .tds-s-form .tds-s-form-group .tds-s-list-item:not(:last-child) {
  margin-bottom: 7px;
}
body .tds-s-form .tds-s-form-group-sm .tds-s-form-label {
  font-size: .857em;
  margin-bottom: 6px;
}
body .tds-s-form .tds-s-form-group-sm .tds-s-form-input {
  padding: 0 10px 2px;
  height: 36px;
  min-height: 36px;
  font-size: .929em;
}
body .tds-s-form .tds-s-form-group-sm .tds-s-form-select-wrap .tds-s-form-input {
  padding-right: 29px;
}
body .tds-s-form .tds-s-form-group-sm .tds-s-form-select-wrap .tds-s-form-select-icon {
  right: 10px;
}
body .tds-s-form .tds-s-form-group-sm textarea.tds-s-form-input {
  min-height: 76px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.5;
}
body .tds-s-form .tds-s-form-group-sm .tds-s-form-check .tds-s-fc-check {
  width: 17px;
  height: 17px;
}
body .tds-s-form .tds-s-form-group-sm .tds-s-form-check .tds-s-fc-check:after {
  top: 2px;
  left: 2px;
}
body .tds-s-form .tds-s-form-group-sm .tds-s-form-check .tds-s-fc-title {
  font-size: 13px;
  line-height: 1.2;
}
body .tds-s-form .tds-s-fc-inner .tds-s-fg-success:not(.tds-s-fg-error) .tds-s-form-input {
  border-color: #59BA93 !important;
  outline-color: rgba(89, 186, 147, 0.1);
}
body .tds-s-form .tds-s-fg-error .tds-s-form-input {
  border-color: #FF0000;
  outline-color: rgba(255, 0, 0, 0.1);
}
body .tds-s-form .tds-s-fg-error-msg {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  width: 100%;
  padding: 0 13px;
  font-size: .786em;
  line-height: 1.3;
  color: #FF3838;
}
body .tds-s-form .tds-s-form-sep {
  width: 100%;
  padding: 0 13px;
  margin-bottom: 28px;
}
body .tds-s-form .tds-s-form-sep:after {
  content: '';
  display: block;
  height: 1px;
  background-color: #efefef;
}
body .tds-s-form .tds-s-form-content .tds-s-notif {
  margin-top: 32px;
}
body .tds-s-form .tds-s-form-footer {
  display: flex;
  align-items: center;
}
body .tds-s-form .tds-s-form-footer .tds-s-btn {
  margin-right: 26px;
}
body .tds-s-form .tds-s-form-footer .tds-s-btn:last-of-type {
  margin-right: 0;
}
body .tds-s-form .tds-s-form-footer .tds-s-disable-wiz {
  margin-left: auto;
  font-size: .786em;
  line-height: 1;
  color: #888;
  cursor: pointer;
}
body .tds-s-form .tds-s-form-footer .tds-s-disable-wiz:hover {
  color: #444;
}
.tds-s-datepicker-wrap {
  margin-top: 8px;
  padding: 14px;
  width: 279px;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: .857em;
  color: #444;
  line-height: 1;
  font-weight: 600;
  border: 1px solid #D7D8DE;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.tds-s-datepicker-wrap,
.tds-s-datepicker-wrap * {
  box-sizing: border-box;
}
.tds-s-datepicker-wrap .ui-datepicker-header {
  display: flex;
  align-items: stretch;
  margin: 0 -4px 10px;
}
.tds-s-datepicker-wrap .ui-datepicker-prev,
.tds-s-datepicker-wrap .ui-datepicker-title,
.tds-s-datepicker-wrap .ui-datepicker-next {
  padding: 0 4px;
}
.tds-s-datepicker-wrap .ui-datepicker-prev,
.tds-s-datepicker-wrap .ui-datepicker-next {
  display: flex;
  align-items: stretch;
  width: 14.4%;
  cursor: pointer;
}
.tds-s-datepicker-wrap .ui-datepicker-prev span,
.tds-s-datepicker-wrap .ui-datepicker-next span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 1px;
  font-size: 0;
  border-radius: 5px;
}
.tds-s-datepicker-wrap .ui-datepicker-prev:hover span,
.tds-s-datepicker-wrap .ui-datepicker-next:hover span {
  background-color: #F2F9FF;
}
.tds-s-datepicker-wrap .ui-datepicker-prev {
  order: 1;
}
.tds-s-datepicker-wrap .ui-datepicker-prev span:before {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10"><path d="M13,15a1,1,0,0,1-.707-.293l-4-4a1,1,0,0,1,0-1.414l4-4a1,1,0,0,1,1.414,1.414L10.414,10l3.293,3.293A1,1,0,0,1,13,15Z" transform="translate(-8 -5)" fill="%23878d93"/></svg>');
}
.tds-s-datepicker-wrap .ui-datepicker-prev:hover span:before {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10"><path d="M13,15a1,1,0,0,1-.707-.293l-4-4a1,1,0,0,1,0-1.414l4-4a1,1,0,0,1,1.414,1.414L10.414,10l3.293,3.293A1,1,0,0,1,13,15Z" transform="translate(-8 -5)" fill="%23152BF7"/></svg>');
}
.tds-s-datepicker-wrap .ui-datepicker-title {
  display: flex;
  flex: 1;
  order: 2;
}
.tds-s-datepicker-wrap .ui-datepicker-title select {
  width: 50%;
  margin: 0;
  padding: 0 17px 1px 8px;
  min-height: 29px;
  background: #ffffff url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="6.794" height="9.822" viewBox="0 0 6.794 9.822"><g transform="translate(6.294 0.5) rotate(90)"><path d="M0,6.294a.5.5,0,0,1-.324-.12.5.5,0,0,1-.056-.7L1.816,2.9-.38.325a.5.5,0,0,1,.056-.7.5.5,0,0,1,.7.056l2.473,2.9a.5.5,0,0,1,0,.649L.38,6.118A.5.5,0,0,1,0,6.294Z" transform="translate(6.349 0)" fill="%23444"/><path d="M2.474,6.294a.5.5,0,0,1-.38-.175L-.38,3.221a.5.5,0,0,1,0-.649l2.473-2.9A.5.5,0,0,1,2.8-.38a.5.5,0,0,1,.056.7L.657,2.9l2.2,2.572a.5.5,0,0,1-.38.825Z" transform="translate(0 0)" fill="%23444"/></g></svg>') no-repeat right 8px center;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: 2px solid #EEEEF1;
  border-radius: 5px;
  outline: 3px solid transparent;
  transition: border-color 0.2s ease-in-out, outline 0.2s ease-in-out;
  -webkit-appearance: none;
}
.tds-s-datepicker-wrap .ui-datepicker-title select:focus {
  box-shadow: none;
  border-color: #D7D8DE;
  outline-color: rgba(238, 238, 241, 0.5);
}
.tds-s-datepicker-wrap .ui-datepicker-title .ui-datepicker-month {
  margin-right: 4px;
}
.tds-s-datepicker-wrap .ui-datepicker-title .ui-datepicker-year {
  margin-left: 4px;
}
.tds-s-datepicker-wrap .ui-datepicker-next {
  order: 3;
}
.tds-s-datepicker-wrap .ui-datepicker-next span {
  padding-left: 1px;
}
.tds-s-datepicker-wrap .ui-datepicker-next span:before {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10"><path d="M13,15a1,1,0,0,1-.707-.293l-4-4a1,1,0,0,1,0-1.414l4-4a1,1,0,0,1,1.414,1.414L10.414,10l3.293,3.293A1,1,0,0,1,13,15Z" transform="translate(14 15) rotate(180)" fill="%23878d93"/></svg>');
}
.tds-s-datepicker-wrap .ui-datepicker-next:hover span:before {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10"><path d="M13,15a1,1,0,0,1-.707-.293l-4-4a1,1,0,0,1,0-1.414l4-4a1,1,0,0,1,1.414,1.414L10.414,10l3.293,3.293A1,1,0,0,1,13,15Z" transform="translate(14 15) rotate(180)" fill="%23152BF7"/></svg>');
}
.tds-s-datepicker-wrap .ui-datepicker-calendar {
  width: calc(100% + 8px);
  margin: 0 -4px;
  border-spacing: 0;
}
.tds-s-datepicker-wrap .ui-datepicker-calendar thead {
  position: relative;
}
.tds-s-datepicker-wrap .ui-datepicker-calendar thead:before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  width: calc(100% + 20px);
  height: 29px;
  background-color: #F2F9FF;
  z-index: -1;
}
.tds-s-datepicker-wrap .ui-datepicker-calendar thead th {
  padding-bottom: 8px;
  font-weight: inherit;
}
.tds-s-datepicker-wrap .ui-datepicker-calendar tbody tr:not(:last-child) td {
  padding-bottom: 8px;
}
.tds-s-datepicker-wrap .ui-datepicker-calendar th,
.tds-s-datepicker-wrap .ui-datepicker-calendar td {
  padding: 0 4px;
  vertical-align: middle;
}
.tds-s-datepicker-wrap .ui-datepicker-calendar th a,
.tds-s-datepicker-wrap .ui-datepicker-calendar td a,
.tds-s-datepicker-wrap .ui-datepicker-calendar th span,
.tds-s-datepicker-wrap .ui-datepicker-calendar td span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  padding-bottom: 1px;
  text-decoration: none;
  color: inherit;
}
.tds-s-datepicker-wrap .ui-datepicker-calendar th a,
.tds-s-datepicker-wrap .ui-datepicker-calendar td a {
  border: 2px solid transparent;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.tds-s-datepicker-wrap .ui-datepicker-calendar th.ui-datepicker-other-month a,
.tds-s-datepicker-wrap .ui-datepicker-calendar td.ui-datepicker-other-month a {
  color: #BEBEBE;
}
.tds-s-datepicker-wrap .ui-datepicker-calendar th:not(.ui-datepicker-today):not(.ui-datepicker-current-day) a:hover,
.tds-s-datepicker-wrap .ui-datepicker-calendar td:not(.ui-datepicker-today):not(.ui-datepicker-current-day) a:hover {
  color: #152BF7;
  background-color: #F2F9FF;
}
.tds-s-datepicker-wrap .ui-datepicker-calendar th.ui-datepicker-today a,
.tds-s-datepicker-wrap .ui-datepicker-calendar td.ui-datepicker-today a,
.tds-s-datepicker-wrap .ui-datepicker-calendar th.ui-datepicker-current-day a,
.tds-s-datepicker-wrap .ui-datepicker-calendar td.ui-datepicker-current-day a {
  background-color: #0489FC;
  color: #fff;
}
.tds-s-datepicker-wrap .ui-datepicker-calendar th.ui-datepicker-unselectable span,
.tds-s-datepicker-wrap .ui-datepicker-calendar td.ui-datepicker-unselectable span {
  color: #bebebe;
}
.tds-s-datepicker-wrap .ui-datepicker-calendar th.ui-datepicker-unselectable.unavailable span,
.tds-s-datepicker-wrap .ui-datepicker-calendar td.ui-datepicker-unselectable.unavailable span {
  color: orangered;
}
.tds-s-list-title {
  font-size: 1em;
  line-height: 1.3;
  font-weight: 600;
  color: #1D2327;
  margin-bottom: 12px;
}
.tds-s-list-title:not(:first-child) {
  margin-top: 20px;
}
.tds-s-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  list-style-type: none;
}
.tds-s-list-cols {
  flex-direction: row;
  flex-wrap: wrap;
}
.tds-s-list-item {
  display: flex;
  margin-left: 0 !important;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1.3;
}
.tds-s-list-item.tds-s-list-sep {
  margin: 5px 0 15px;
  border-bottom: 1px solid #E8E8E8;
}
.tds-s-list-item .tds-s-list-text-sep {
  margin: 0 5px;
}
.tds-s-list-item .tds-s-list-text a.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.tds-s-list-item .tds-s-list-text .tds-s-price-full {
  display: inline-block;
  margin-right: 3px;
  text-decoration: line-through;
  color: #9da0a1;
  font-size: 13px;
}
.tds-s-list-label {
  margin-right: 6px;
  color: #555D66;
}
.tds-s-list-text {
  font-weight: 600;
  color: #1D2327;
}
.tds-s-list-sm {
  gap: 6px;
}
.tds-s-list-sm .tds-s-list-item {
  font-size: .929em;
}
.tds-s-error {
  display: none;
}
.tds-s-notif {
  padding: 25px;
  border-radius: 3px;
}
.tds-s-notif,
.tds-s-notif *:not(.tds-s-btn) {
  font-size: 1em;
  line-height: 1.4;
}
.tds-s-notif b {
  font-weight: 600;
}
.tds-s-notif.tds-s-notif-error.tds-s-notif-error-display {
  display: block;
}
.tds-s-notif-descr:not(:last-child) {
  margin-bottom: 6px;
}
.tds-s-notif-list {
  list-style-type: none;
  margin: 0;
}
.tds-s-notif-list:not(:last-child) {
  margin: 0 0 10px;
}
.tds-s-notif-list li {
  margin-bottom: 6px;
  margin-left: 0 !important;
}
.tds-s-notif-list li:last-child {
  margin-bottom: 0;
}
.tds-s-notif-info {
  background-color: rgba(89, 98, 107, 0.08);
  color: #59626B;
}
.tds-s-notif-success {
  background-color: rgba(38, 98, 28, 0.1);
  color: #26621c;
}
.tds-s-notif-warn {
  background-color: rgba(215, 133, 0, 0.12);
  color: #d78500;
}
.tds-s-notif-warn .tds-s-notif-descr a {
  color: inherit !important;
}
.tds-s-notif-warn .tds-s-notif-descr a:not(:hover) {
  text-decoration: underline !important;
}
.tds-s-notif-error {
  background-color: rgba(255, 56, 56, 0.12);
  color: #ff3838;
}
.tds-s-notif-error-toggle {
  position: relative;
  top: -1px;
  font-size: .857em;
  cursor: pointer;
}
.tds-s-notif-error-toggle:before {
  content: '[+]';
}
.tds-s-notif-error-info {
  display: none;
  background-color: rgba(255, 255, 255, 0.08);
  margin-top: 3px;
  padding: 3px 6px 4px;
  font-size: .857em;
  color: rgba(255, 255, 255, 0.9);
}
.tds-s-notif-error-active .tds-s-notif-error-toggle:before {
  content: '[-]';
}
.tds-s-notif-error-active .tds-s-notif-error-info {
  display: block;
}
.tds-s-notif-xsm {
  padding: 10px 15px;
}
.tds-s-notif-xsm,
.tds-s-notif-xsm *:not(.tds-s-btn) {
  font-size: .929em;
  line-height: 1.4;
}
.tds-s-notif-sm {
  padding: 18px;
}
.tds-s-notif-sm,
.tds-s-notif-sm *:not(.tds-s-btn) {
  font-size: .929em;
  line-height: 1.4;
}
.tds-s-table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}
@media (max-width: 1018px) {
  .tds-s-table {
    display: block;
  }
}
@media (max-width: 1018px) {
  .tds-s-table-row {
    display: block;
  }
}
.tds-s-table-col {
  position: relative;
  padding: 0;
  border: none;
  /* responsive tablet + desktop */
}
@media (min-width: 1019px) {
  .tds-s-table-col:first-child {
    padding-left: 10px;
  }
  .tds-s-table-col:not(:last-child):not(.tds-s-table-col-expand) {
    padding-right: 15px;
  }
  .tds-s-table-col:last-child {
    padding-right: 10px;
  }
}
@media (max-width: 1018px) {
  .tds-s-table-col {
    display: flex;
    align-items: baseline;
    width: 100%;
  }
}
.tds-s-table-col .tds-s-table-price-full {
  display: inline-block;
  margin-right: 3px;
  text-decoration: line-through;
  color: #9da0a1;
  font-size: 13px;
}
.tds-s-table-col-label {
  width: 35%;
  margin-right: 10px;
  padding-right: 10px;
  color: #555D66;
  /* responsive tablet + desktop */
}
@media (min-width: 1019px) {
  .tds-s-table-col-label {
    display: none;
  }
}
.tds-s-table-header {
  font-size: .857em;
  line-height: 1;
  font-weight: 600;
  text-align: left;
  color: #555D66;
  border-bottom: 2px solid #D7D8DE;
}
@media (max-width: 1018px) {
  .tds-s-table-header {
    display: none;
  }
}
.tds-s-table-header .tds-s-table-col {
  padding-bottom: 15px;
}
.tds-s-table-col-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.tds-s-table-col-order-icons {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1px;
  margin-left: 10px;
}
.tds-s-table-col-order-icons svg {
  fill: #555D66;
  line-height: 0;
  opacity: .3;
}
.tds-s-table-col-order-icons svg:nth-child(1) {
  margin-bottom: 2px;
}
[data-order="ASC"] .tds-s-table-col-order-icons svg:nth-child(1) {
  opacity: 1;
}
[data-order="ASC"] .tds-s-table-col-order-icons svg:nth-child(2) {
  opacity: .3;
}
[data-order="DESC"] .tds-s-table-col-order-icons svg:nth-child(1) {
  opacity: .3;
}
[data-order="DESC"] .tds-s-table-col-order-icons svg:nth-child(2) {
  opacity: 1;
}
.tds-s-table-body {
  font-size: .929em;
  line-height: 1;
  font-weight: 600;
  color: #1D2327;
}
@media (max-width: 1018px) {
  .tds-s-table-body {
    display: block;
  }
}
.tds-s-table-body .tds-s-table-row:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}
.tds-s-table-body .tds-s-table-row.tds-s-table-row-active,
.tds-s-table-body .tds-s-table-row:hover {
  background-color: #F8F8F8;
}
@media (max-width: 1018px) {
  .tds-s-table-body .tds-s-table-row {
    padding: 15px 10px;
  }
}
@media (min-width: 1019px) {
  .tds-s-table-body .tds-s-table-col {
    padding-top: 12px;
    padding-bottom: 15px;
  }
}
@media (max-width: 1018px) {
  .tds-s-table-body .tds-s-table-col {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
.tds-s-table-status {
  position: relative;
  top: 1px;
  display: inline-block;
  padding: 3px 5px 4px;
  background-color: #ededed;
  font-size: .786em;
  line-height: 1;
  font-weight: 600;
  letter-spacing: .2px;
  text-transform: uppercase;
  border-radius: 2px;
  white-space: nowrap;
}
.tds-s-table-status-generic {
  background-color: #ededed;
}
.tds-s-table-options-toggle {
  position: relative;
  top: 1px;
  fill: #878d93;
  transition: fill 0.2s ease-in-out;
  /* responsive portrait tablet */
}
@media (max-width: 1018px) {
  .tds-s-table-options-toggle {
    display: none;
  }
}
.tds-s-table-options-list {
  display: flex;
  /* responsive portrait tablet */
}
@media (min-width: 1019px) {
  .tds-s-table-options-list {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 6px;
    right: 100%;
    min-width: 130px;
    padding: 8px 10px 9px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    z-index: 100;
    cursor: default;
  }
}
@media (max-width: 1018px) {
  .tds-s-table-options-list {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media (min-width: 1019px) {
  .tds-s-table-col-options {
    padding-left: 10px;
    text-align: center;
    cursor: pointer;
  }
  .tds-s-table-col-options:hover .tds-s-table-options-toggle {
    fill: #000;
  }
  .tds-s-table-col-options:hover .tds-s-table-options-list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .tds-s-table-col-options .tds-s-bubble {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    margin-top: -1px;
    z-index: 100;
  }
}
@media (max-width: 1018px) {
  .tds-s-table-col-options {
    padding-top: 17px;
  }
}
.tds-s-table-col-options .tds-s-tol-item {
  font-size: .786em;
  line-height: 1.2;
  font-weight: 600;
  color: #555D66;
  cursor: pointer;
}
.tds-s-table-col-options .tds-s-tol-item:hover {
  color: #000;
}
@media (min-width: 1019px) {
  .tds-s-table-col-options .tds-s-tol-item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media (max-width: 1018px) {
  .tds-s-table-col-options .tds-s-tol-item:not(:last-child) {
    margin-right: 12px;
  }
}
.tds-s-table-col-options .tds-s-tol-item-red {
  color: #FF6161;
}
.tds-s-table-col-options .tds-s-tol-item-red:hover {
  color: #ff0000;
}
.tds-s-tol-sep {
  background-color: #EBEBEB;
  width: 100%;
  height: 1px;
  margin-top: 1px;
  margin-bottom: 8px;
  /* responsive portrait phone */
}
@media (max-width: 1018px) {
  .tds-s-tol-sep {
    display: none;
  }
}
.tds-s-table-col-expand {
  justify-content: flex-end;
  cursor: pointer;
  /* responsive landscape tablet */
  /* responsive portrait phone */
}
@media (min-width: 1019px) {
  .tds-s-table-col-expand {
    padding-right: 10px;
  }
}
@media (max-width: 1018px) {
  .tds-s-table-col-expand {
    justify-content: center;
  }
}
.tds-s-table-col-expand:hover .tds-s-table-expand-toggle {
  opacity: 1;
}
.tds-s-table-col-expand .tds-s-table-col-label {
  width: auto;
  padding-right: 0;
  font-size: .857em;
}
.tds-s-table-expand-toggle {
  position: relative;
  top: -1px;
  fill: #000;
  opacity: .4;
  transition: transform 0.2s ease-in-out;
}
.tds-s-table-row-info-expanded {
  border-bottom: none !important;
}
.tds-s-table-row-info-expanded .tds-s-table-expand-toggle {
  transform: rotate(180deg);
  opacity: 1;
}
.tds-s-table-row-editing .tds-s-table-col-expand {
  pointer-events: none;
}
.tds-s-table-row-editing .tds-s-table-expand-toggle {
  opacity: .4;
}
.tds-s-table-row-extra-wrap {
  border: none;
}
.tds-s-table-row-extra-wrap:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}
@media (max-width: 1018px) {
  .tds-s-table-row-extra-wrap {
    display: block;
  }
}
.tds-s-table-row-extra {
  padding: 10px 10px 15px;
  background-color: #F8F8F8 !important;
  border: none;
}
@media (max-width: 1018px) {
  .tds-s-table-row-extra {
    display: block;
    padding: 5px 10px 10px;
  }
}
.tds-s-table-row-extra-inner {
  padding: 15px;
  background-color: #FEFEFE;
  border-radius: 3px;
}
.tds-s-tre-cols {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px;
}
.tds-s-tre-col {
  width: 100%;
  padding: 0 7px;
}
.tds-s-pagination {
  display: flex;
  margin: 22px 0 0;
}
.tds-s-pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.2em;
  min-height: 2.2em;
  margin: 0;
  padding: 0 8px;
  font-size: 1em;
  line-height: 1;
  font-weight: 600;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.tds-s-pagination-item:not(:last-child) {
  margin-right: 8px;
}
.tds-s-pagination-item:not(.tds-s-pagination-dots):not(.tds-s-pagination-active) {
  cursor: pointer;
}
.tds-s-pagination-item:hover:not(.tds-s-pagination-dots):not(.tds-s-pagination-active) {
  background-color: #EBEBEB;
}
.tds-s-pagination-item:not(.tds-s-pagination-active) {
  background-color: #f1f1f1;
  color: #1d2327;
}
.tds-s-pagination-item.tds-s-pagination-active {
  background-color: #0489FC;
  color: #fff;
}
/**

    Global

 */
.tds-page #td-outer-wrap {
  display: flex;
  flex-direction: column;
}
.tds-page:not(.admin-bar) #td-outer-wrap {
  min-height: 100vh;
}
@media (min-width: 783px) {
  .tds-page.admin-bar #td-outer-wrap {
    min-height: calc(100vh - 32px);
  }
}
@media (max-width: 782px) {
  .tds-page.admin-bar #td-outer-wrap {
    min-height: calc(100vh - 46px);
  }
}
.tds-page .td-main-content-wrap {
  display: flex;
  flex: 1;
  width: 100%;
}
.tds-page .td-main-content-wrap .tdc-content-wrap {
  width: 100%;
  min-height: 100%;
}
.tds-page .td-main-content-wrap .tdc-content-wrap > .tdc-zone {
  height: 100%;
}
.tds-page .td-main-content-wrap .tdc-content-wrap > .tdc-zone > .tdc_zone {
  height: 100%;
}
.tds-page.page-template-page-pagebuilder-latest .td-main-content-wrap {
  flex-direction: column;
}
/* block error */
.tds-block-error {
  margin-bottom: 26px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-align: left;
  padding: 20px;
  border: 1px solid #eeecf0;
  color: black;
}
.tds-block-error span {
  background-color: #ec4d4d;
  color: white;
  font-weight: bold;
  padding: 3px 8px 4px;
  font-size: 10px;
  position: relative;
  top: -1px;
}
